body {
  font-family: "Amatic SC";
  text-align: center;
  justify-content:center;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
}

.background {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background: rgb(255,188,225);
  background: linear-gradient(180deg, rgba(255,188,225,1) 1%, rgba(158,179,48,1) 50%, rgba(255,72,174,1) 100%);
}

.gameHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  min-height: 4rem;
  width: 423px;

  background-color: white;

  border-width: 5px;
  border-style: dashed;
  border-color: black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  box-shadow: 0px 0px 50px beige;
  border-color: rgb(252, 193, 46);

  font-weight: bold;

  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  
  top: 0px;
  margin: auto;

  width: 440px;
  max-width: 100%;
  height: 505px;

  text-align: center;
}

.grid {
  display: flex;
  position: absolute;
  align-self: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;

top:-10px;

  height: 440px;
  width: 423px;

  background-color: white;

  border-width: 5px;
  border-style: dashed;

  box-shadow: 0px 0px 80px beige;
  border-color: rgb(122, 190, 4);

  text-align: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 40px;

  border-radius: 8px;
  
  text-align: center;
}

#footer {
  display: flex;
  align-items: center;
  justify-content:space-around;
}

#footer div {
  display: flex;
  align-items: center;
  position: absolute;
  
  width: 423px;
  height: 2.5rem;

  background-color: white;

  border-width: 5px;
  border-style: dashed;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;

  box-shadow: 0px 0px 50px beige;
  border-color: rgb(252, 193, 46);
}

#restartBtn {
  display: flex;
  
  cursor: pointer;
  left: 30px;

  border-radius: 20%;
}

.score {
  display: flex;
  justify-self: flex-end;
  justify-content: space-around;
  position: relative;
  
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 0px;
  
  width: 100px;
  
  font-weight: 900;

}

#flagLabel{
  display: flex;
  justify-self: flex-end;
  left: 30px;

  position: relative;
}

#scoreLabel {
  display: flex;
  justify-self: flex-end;
  left: 30px;

  position: relative;
}

#bombLabel{
  display: flex;
  justify-self: flex-end;
  left:30px;

  position: relative;
}

#scorePoints {
  display: flex;
  justify-self: flex-end;
  position: relative;
}

.bomb {
  justify-content: center;
  align-items: center;
  
  margin: auto;
  
  /* background-color: blue; */ 
  background-color: rgb(240, 188, 57); 
  border-width: 1px;
  border-style: dashed;
  border-color: white;
  
  text-align: center;
}

.safeSquare {
  background-color: rgb(240, 188, 57);
  border-width: 1px;
  border-style: dashed;
  border-color: white;
  
  text-align: center;
}

.checked {
  justify-content: center;
  align-items: center;
  
  margin: auto;
  
  background-color: rgb(255, 56, 56);
  
  text-align: center;
}

.isolated {
  align-items: center;
  justify-content: center;
  
  margin: auto;
  
  background-color: rgb(122, 190, 4);
  
  text-align: center;
}


.whiteFlowers {
  display: flex;
  position: absolute;
  justify-content: center;
  
  width: 100%;
  height: auto;
  
}

#daisies {
  width: 200px;
}

#endGameDiv.hidden {
  display: none;
}

#endGameDiv{
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  
  width: 500px;
  height: 150px;
  
  background-color: white;
  

  border-width: 5px;
  border-style: dashed;
  border-radius: 20px;
  
  box-shadow: 0px 0px 50px beige;
  border-color: white;
  background-color: rgb(255, 56, 56);
  
  text-align: center;
  padding:20px;

  left: 50%;
  transform: translate(-50%);

  margin-top: -400px;
}

#endGameDiv.tileWin{
  border-color: white;
  background-color: rgb(122, 190, 4);
}

#endGameDiv.flagWin{
  border-color: white;
  background-color: rgb(240, 188, 57);
}

#endGameScreen{
 display: flex;
 justify-content: center;

 width: 100%;
 
}

#playAgainButtonDiv{
  display: flex;
  justify-content: center;
	
  width: 100%;
}

#playAgainButton{
  display: flex;
  
  font-family: "Amatic SC";
  font-size: 24px;
  font-weight: bolder;
	
  padding: 8px 20px 8px 20px;
	
  cursor: pointer;
	
	border: 5px dashed;
  border-color: rgb(255, 56, 56);
  border-radius: 10%;
}

#playAgainButton.tileWin{
  border-color: rgb(122, 190, 4);
}

#playAgainButton.flagWin{
  border-color: rgb(240, 188, 57);
}